[project]
name = "tse-analytics"
version = "1.6.1beta0"
description = "TSE Analytics data analysys"
license = "MIT"
readme = "README.md"
authors = [
    { name = "Anton Rau", email = "anton.rau@gmail.com" }
]
homepage = "https://github.com/TSE-Systems/tse-analytics"
repository = "https://github.com/TSE-Systems/tse-analytics"
requires-python = "==3.13.9"
dependencies = [
    "astropy==7.1.1",
    "connectorx==0.4.4",
    "jinja2==3.1.6",
    "lmfit==1.3.4",
    "loguru==0.7.3",
    "matplotlib==3.10.7",
    "openpyxl==3.1.5",
    "pandas==2.3.3",
    "pingouin==0.5.5",
    "psutil==7.1.3",
    "pyqt-toast-notification==1.3.3",
    "pyqtgraph==0.14.0",
    "pyside6==6.10.0",
    "pyside6-qtads==4.4.1.1",
    "scikit-learn==1.7.2",
    "scipy==1.16.3",
    "seaborn==0.13.2",
    "traja==25.0.1",
    "xmltodict==1.0.2",
]

[dependency-groups]
dev = [
    "mypy==1.18.2",
    "pyinstaller==6.16.0",
    "qtsass==0.4.0",
    "ruff==0.14.5",
    "ty==0.0.1a23",
]

[project.scripts]
tse-analytics = "tse_analytics:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pylint.main]
ignore-patterns = ['.*ui\.py']

[tool.pylint.format]
max-line-length = 120

[tool.mypy]
python_version = "3.13"
exclude = ['.*ui\.py']
strict = false
ignore_missing_imports = true
disable_error_code="union-attr,override"

[tool.ruff]
preview = true
unsafe-fixes = false
line-length = 120
target-version = "py313"
src = ["tse_analytics"]
exclude = [
    "*_ui.py",
    "*_rc.py",
    "traja"
]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4",  # flake8-comprehensions
    "UP",  # pyupgrade
    "NPY201",  # numpy2-deprecation
]
ignore = [
    "F821", # Undefined name
    "E501", # Line too long
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ty.environment]
root = ["./tse_analytics"]
