// Colors
$window-text: #000000 !default;
$button: #efefef !default;
$light: #ffffff !default;
$midlight: #cacaca !default;
$dark: #9f9f9f !default;
$mid: #b8b8b8 !default;
$text: #000000 !default;
$bright-text: #ffffff !default;
$button-text: #000000 !default;
$base: #ffffff !default;
$window: #efefef !default;
$shadow: #767676 !default;
$highlight: #308cc6 !default;
$highlighted-text: #ffffff !default;
$link: #003e92 !default;
$link-visited: #001a68 !default;
$alternate-base: #f7f7f7 !default;
$tooltip-base: #ffffdc !default;
$tooltip-text: #000000 !default;
$placeholder-text: #000000 !default;
$accent: #308cc6 !default;
