// Change default values

$window-text: #000000 !default;
$button: #89c0ba !default;
$light: #d7fffb !default;
$midlight: #b0dfda !default;
$dark: #45605d !default;
$mid: #5b807c !default;
$text: #000000 !default;
$bright-text: #ffffff !default;
$button-text: #000000 !default;
$base: #ffffff !default;
$window: #dfebea !default;
$shadow: #000000 !default;
$highlight: #ffffff !default;
$highlighted-text: #ffffff !default;
$link: #003e92 !default;
$link-visited: #001a68 !default;
$alternate-base: #ffffff !default;
$tooltip-base: #ffffdc !default;
$tooltip-text: #000000 !default;
$placeholder-text: #00000088 !default;
$accent: #73F2EB !default;


// Import base style

@import 'base';
