/*****************************************************************************
 * CDockContainerWidget
 *****************************************************************************/
ads--CDockContainerWidget {
  background: palette(base); }

/*****************************************************************************
 * CDockSplitter
 *****************************************************************************/
ads--CDockContainerWidget > QSplitter {
  padding: 1px 0 1px 0; }

/*****************************************************************************
 * CDockAreaWidget
 *****************************************************************************/
ads--CDockAreaWidget {
  background: palette(base); }

ads--CTitleBarButton {
  padding: 0px 0px; }

#tabsMenuButton::menu-indicator {
  image: none; }

#tabsMenuButton {
  qproperty-icon: url(:/ads/images/tabs-menu-button.svg);
  qproperty-iconSize: 16px; }

#dockAreaCloseButton {
  qproperty-icon: url(:/ads/images/close-button.svg), url(:/ads/images/close-button-disabled.svg) disabled;
  qproperty-iconSize: 16px; }

#detachGroupButton {
  qproperty-icon: url(:/ads/images/detach-button.svg), url(:/ads/images/detach-button-disabled.svg) disabled;
  qproperty-iconSize: 16px; }

/*****************************************************************************
 * CDockWidgetTab and close button styling
 *****************************************************************************/
ads--CDockWidgetTab {
  background: palette(base);
  border-style: none;
  padding-top: 2px;
  padding-bottom: 2px; }

ads--CDockWidgetTab[activeTab="true"] {
  background: #F0F0F0; }

ads--CDockWidgetTab QLabel {
  color: palette(dark); }

ads--CDockWidgetTab[activeTab="true"] QLabel {
  color: palette(foreground); }

#tabCloseButton {
  margin-top: 2px;
  background: none;
  border: none;
  padding: 0px -2px;
  qproperty-icon: url(:/ads/images/close-button.svg), url(:/ads/images/close-button-disabled.svg) disabled;
  qproperty-iconSize: 16px; }

#tabCloseButton:hover {
  border: 1px solid rgba(0, 0, 0, 12%);
  background: rgba(0, 0, 0, 6%); }

#tabCloseButton:pressed {
  background: rgba(0, 0, 0, 12%); }

/*****************************************************************************
 * CDockWidget
 *****************************************************************************/
ads--CDockWidget {
  background: palette(light);
  border-color: palette(light);
  border-style: none;
  border-width: 1px 0 0 0; }

QScrollArea#dockWidgetScrollArea {
  padding: 0;
  border: none; }

QComboBox QAbstractItemView {
  selection-background-color: #ffffff; }

QListView {
  selection-background-color: #73F2EB; }

QListView::item:selected {
  background-color: #ffffff;
  color: #ffffff; }

QMenu::item:selected {
  background-color: #ffffff;
  color: #000000; }

QMenuBar::item:selected {
  background-color: #ffffff;
  color: #000000; }

QPushButton {
  background-color: #ffffff;
  color: #000000; }

QPushButton:disabled {
  background-color: #dfebea;
  color: #000000; }

QPushButton:hover {
  background-color: #89c0ba;
  color: #000000; }

QPushButton:default {
  border-color: #d7fffb;
  /* make the default button prominent */ }

/* QScrollBar - Vertical */
QScrollBar:vertical {
  background-color: #dfebea;
  /* Background Color */
  width: 14px;
  margin: 2px 0;
  /* Add slight spacing above and below */
  border: 1px solid #ffffff;
  /* Main Color */
  border-radius: 2px; }

QScrollBar::handle:vertical {
  background-color: #ffffff;
  /* Main Color */
  border-radius: 2px;
  min-height: 20px;
  margin: 2px;
  /* Add spacing from the edges */ }

QScrollBar::handle:vertical:hover {
  background-color: #89c0ba;
  /* Accent Color */ }

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
  background: #dfebea;
  /* Background Color */
  border: 1px solid #ffffff;
  /* Main Color */
  height: 14px;
  border-radius: 2px; }

QScrollBar::add-line:vertical:hover,
QScrollBar::sub-line:vertical:hover {
  background: #89c0ba;
  /* Accent Color */ }

/* Remove sub-controls (optional, hides arrows) */
QScrollBar::sub-page:vertical,
QScrollBar::add-page:vertical {
  background: none;
  /* Transparent to blend in with the main background */ }

/* QScrollBar - Horizontal */
QScrollBar:horizontal {
  background-color: #dfebea;
  /* Background Color */
  height: 14px;
  margin: 0 2px;
  /* Add slight spacing on the sides */
  border: 1px solid #ffffff;
  /* Main Color */
  border-radius: 2px; }

QScrollBar::handle:horizontal {
  background-color: #ffffff;
  /* Main Color */
  border-radius: 2px;
  min-width: 20px;
  margin: 2px;
  /* Add spacing from the edges */ }

QScrollBar::handle:horizontal:hover {
  background-color: #89c0ba;
  /* Accent Color */ }

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
  background: #dfebea;
  /* Background Color */
  border: 1px solid #ffffff;
  /* Main Color */
  width: 14px;
  border-radius: 2px; }

QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover {
  background: #89c0ba;
  /* Accent Color */ }

/* Remove sub-controls (optional, hides arrows) */
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:horizontal {
  background: none;
  /* Transparent to blend in with the main background */ }

QTableView {
  selection-background-color: #73F2EB; }

QTableView::item:selected {
  background-color: #ffffff;
  color: #ffffff; }

QToolButton:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 2px; }

QTreeView {
  selection-background-color: #73F2EB; }

QTreeView::item:selected {
  background-color: #ffffff; }

QWidget {
  background-color: #dfebea; }
